#next_release {padding-top: 25px;width: 49%; float: left; clear: none; padding: 0;position: relative;}
#release_name {color: #fff; font-weight: bold;}
#deadlines div.inset {background-color: transparent;color: #fff;padding: 10px 20px;}
#deadlines dt, #deadlines dd { margin: 0 0 10px 0; white-space: nowrap; display: block; float: none; clear: none; text-align: left; width: auto; margin: 0; padding: 0; } 
#deadlines dt {color: #efefef;font-size: 230%;}
#deadlines dl {background-color: transparent; padding: 5px 0;}
#deadlines dd {/* this is the main countdown information -- days */color: #fff;}
#deadlines dd span.sub {/* secondary countdown information -- hrs/min/seconds */color: #aaa; font-size: 80%;}
#deadlines .hasCountdown.lastDay, #deadlines .hasCountdown.lastDay span.sub { color: #ff0;}
#deadlines .hasCountdown.expired, #deadlines .hasCountdown.expired span.sub {color: #f00;}


@media only screen and (min-width: 1080px) and (-webkit-min-device-pixel-ratio: 2){
    /* ipad three stuff. needs touch controls, but high resolution */
}

@media only screen and (min-width: 1080px) {
    #next_release { float: none; clear: right; width: 100%;}
    #release_name_wrapper, #countdown_days_wrapper { width: 100%;}    
    #release_information { display: inline-block;width: 30%;}
    #deadlines {display: inline-block; width: 64%; margin-top: -30px; height: 100%; margin-left: 5%;}    
    #deadlines dl { width: 100%;}
}

@media only screen and (min-width: 800px) and (max-width: 1080px){
    #next_release { float: none; clear: right; width: 100%;}
    #release_name_wrapper, #countdown_days_wrapper { width: 100%;}    
    #release_information { display: inline-block;width: 30%;}
    #deadlines {display: inline-block; width: 69%; margin-top: -30px; height: 100%;}    
    #deadlines dl { width: 100%;}
}

@media only screen and (min-width: 480px) and (max-width: 799px) { /* almost all current tablets sit between 600px and 800px wide */
    #next_release { width: 100%;}
    #deadlines dt.heading, #deadlines dd.heading  {display: none;}
    #release_name_wrapper, #countdown_days_wrapper { width: 100%;}
    #release_name { float: left; width: 30%;}
    #deadlines {float: left; width: 69%; margin-top: -30px; height: 100%;}
    #deadlines dl { width: 100%;}
    #deadlines dt { font-size: 120%; margin-bottom: 10px;}    
}

@media only screen and (max-width: 479px) {
    #deadlines dt.heading, #deadlines dd.heading {display: none;}
    #next_release { width: auto; float: none; clear:both;}
    #deadlines dt { font-size: 120%; margin-bottom: 10px;}
}

