.module.upcoming .nextReleaseDate small {line-height: 15px; font-size:15px;}
.module.upcoming .nextReleaseDate h1 {font-size: 140px; line-height: 80px; margin: 30px 0 0 0; }
.module.upcoming .counter time { font-size: 34px; }

.module.components .componentList thead th { font-size: 12px; line-height: 30px; font-weight: bold;}
.module.components .componentList tbody th,
.module.components .componentList tbody td { font-size: 12px; line-height: 12px; }

.module.issues .issueList thead th { font-size: 12px; line-height: 30px; }
.module.issues .issueList tbody th,
.module.issues .issueList tbody td { font-size: 12px; line-height: 12px; }

.module.upcoming .counter  {
    display: none !important;
}
