/* Body styles tied to SM7 Status */
body.noinfo {background-color: #ccc;}  /* this should never occur! */
body.panic {background-color: #8b0000;} /* darkred */      
body.worry {background-color: #ff8c00;} /* darkorange */
body.normal {background-color: forestgreen;} /* forestgreen */
/* // Body styles tied to SM7 Status */
div.section.sm7 #tables { width: 100%; float: none; clear:both}
div.section.sm7 #tables table td div.openIssues { width: 59%; float: left; padding: 10px 0;}
div.section.sm7 #tables table td div.hoursIssues { width: 39%; float: right; text-align: center; padding: 10px 0;}
div.section.sm7 #graphs { width: 100%; float: none; clear:both}            
td.priority {width: 10%; border: 1px solid #fff; text-align: center; padding: 5px 0; color: #fff; font-weight: bold;}
div.issuesPriorityWrapper {} /* this style is only used in the mobile version */
div.priority {text-align: center; font-size: 90%; border: 2px solid #fff; font-weight: bold; width: 1.2em; margin: 0 4px; display: inline-block;}
div.issuesCount { float: left;margin-left: 10px; margin-right: 10px;}
/* styles for the new issues table */
table.issues_table { width: 100%; border-spacing: 4px; border-collapse: separate;}
table.issues_table thead td {font-size: 180%; color: #fff; padding: 4px 10px;}
table.issues_table tbody td {border-bottom: 1px solid #ccc; font-size: 150%;}
table.issues_table tbody td.issue_number { width: 45px; text-align: center; font-weight: bold; padding: 5px; color: #fff;}
table.issues_table tbody td.issue_description { color: #fff; overflow:hidden;}
table.issues_table tbody td.issue_assigned { color: #fff;}
/* styles for the new issues table */
div#open_issues {height: 450px; width: 100%; float: none;}
h2.graph_heading {text-align: center; font-weight: bold; margin: 20px 0; font-size: 140%;}

@media only screen and (min-width: 1080px) and (-webkit-min-device-pixel-ratio: 2){
    /* ipad three stuff. needs touch controls, but high resolution */
}

@media only screen and (min-width: 800px) and (max-width: 15080px){
    #call_stats {display: block;color: #fff; margin: 15px 10px; clear: both; overflow: hidden;}    
}

@media only screen and (min-width: 480px) and (max-width: 799px) { /* almost all current tablets sit between 600px and 800px wide */
    /* styles for the new issues table */
    table.issues_table { width: 100%; border-spacing: 4px; border-collapse: separate;}
    table.issues_table thead td {font-size: 120%; color: #fff; padding: 4px 10px;}
    table.issues_table tbody td {border-bottom: 1px solid #ccc; font-size: small;}
    table.issues_table tbody td.issue_number { width: 45px; text-align: center; font-weight: normal; padding: 5px; color: #fff; font-size: small;}
    table.issues_table tbody td.issue_description {}
    table.issues_table tbody td.issue_assigned { color: #fff;}
    /* styles for the new issues table */                         
    div.section.sm7 #tables { width: 100%; clear: both; float: none;}
    div.section.sm7 #graphs { width: 80%; clear:both; float: none; margin: 20px auto 0 auto;}
    div#open_issues {height: 250px; width: 100%; float: none; clear:both; margin-bottom: 15px;}
    div#open_hours {height: 250px; width: 100%; float: none; clear:both; margin-bottom: 15px;}
}

@media only screen and (max-width: 479px) {
    div.issuesPriorityWrapper { width: 100%; clear: both; margin 0 auto; text-align:center;} /* this style is only used in the mobile version */    
    div.section.sm7 #tables table td div.openIssues div.issuesCount { float: none; clear: both; margin: 0 0 10px 0; text-align: center;}
    div.section.sm7 #tables { width: 100%; clear: both; float: none;}
    div.section.sm7 #graphs { width: 80%; clear:both; float: none; margin: 20px auto 0 auto;}    
    /* styles for the new issues table */
    table.issues_table thead td {font-size: 120%;}
    table.issues_table tbody td {font-size: small;}
    table.issues_table tbody td.issue_number {font-weight: normal; font-size: small;}
    #tables table td div.openIssues div.issuesCount { text-align: center; line-height: 1.5em;}
    #tables table td div.hoursIssues   {line-height: 1.5em;}
    table.issues_table tbody td.issue_assigned { color: #fff;}
    /* styles for the new issues table */
    div#open_issues {height: 250px; width: 100%; float: none; clear:both; margin-bottom: 15px;}
    div#open_hours {height: 250px; width: 100%; float: none; clear:both; margin-bottom: 15px;}
}
