html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    position: relative; 
    font-family: 'Helvetica', monospace;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    height: 100%;    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: overline;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
header, footer {display: none;} /* may be used for notifications in the future */

        .alpha30 { /* slightly opaque background colour */
            /* Fallback for web browsers that doesn't support RGBa */
            background: rgb(178, 178, 178);
            /* RGBa with 0.6 opacity */
            background: rgba(0, 0, 0, 0.3);
            /* For IE 5.5 - 7*/
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000, endColorstr=#4c000000);
            /* For IE 8*/
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000, endColorstr=#4c000000)";

            /* pro-tip: 
             * to calculate the hex value of the rgba for opacity in IE, run
             *
             *      Math.floor([opacity] * 255).toString(16) 
             *
             * in your JS console! 
             */ 
        }
        .alpha60_white { /* slightly opaque background colour */
            /* Fallback for web browsers that doesn't support RGBa */
            background: rgb(255, 255, 255);
            /* RGBa with 0.6 opacity */
            background: rgba(255, 255, 255, 0.9);
            /* For IE 5.5 - 7*/
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5ffffff, endColorstr=#e5ffffff);
            /* For IE 8*/
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5ffffff, endColorstr=#e5ffffff)";

            /* pro-tip: 
             * to calculate the hex value of the rgba for opacity in IE, run
             *
             *      Math.floor([opacity] * 255).toString(16) 
             *
             * in your JS console! 
             */ 
	}

        .round-corners5 {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
        .round-corners10 {
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }


	header.active { display: block; background: #000;}
	header.active.emergency { padding: 50px;}
	header.active.emergency div { 
		padding: 30px;
		color: #000;

	}

        header.active.emergency {
            height: auto;
            position: relative;
            background-color: yellow;
            background-image: -webkit-gradient(
            linear, /* the style of the gradient */
            0 0,  /* the start point of the gradient */
            100% 100%,  /* the end-point of the gradient */
            color-stop(.10, rgba(0, 0, 0, .7)), color-stop(.10, transparent), color-stop(.15, transparent), color-stop(.15, rgba(0, 0, 0, .7)), 
            color-stop(.25, rgba(0, 0, 0, .7)), color-stop(.25, transparent), color-stop(.30, transparent), color-stop(.30, rgba(0, 0, 0, .7)), 
            color-stop(.40, rgba(0, 0, 0, .7)), color-stop(.40, transparent), color-stop(.45, transparent), color-stop(.45, rgba(0, 0, 0, .7)), 
            color-stop(.55, rgba(0, 0, 0, .7)), color-stop(.55, transparent), color-stop(.60, transparent), color-stop(.60, rgba(0, 0, 0, .7)), 
            color-stop(.70, rgba(0, 0, 0, .7)), color-stop(.70, transparent), color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, .7)), 
            color-stop(.85, rgba(0, 0, 0, .7)), color-stop(.85, transparent), color-stop(.90, transparent), color-stop(.90, rgba(0, 0, 0, .7)), 
            color-stop(1.00, rgba(0, 0, 0, .7)), color-stop(1.00, transparent), to(transparent));
            background-image: 
            -webkit-linear-gradient(
            -45deg,  /* the angle of the linear gradient*/
            rgba(0, 0, 0, .7) 10%, 
            /* this is a color-stop. This one tells the browser to render the gradient in white with 30% opacity, and make it 10% wide */
            transparent 10%, 
            /* another color-stop. This one is transparent for 10% of the width. By making these two start at the same point, we have sharp lines */
            transparent 15%, rgba(0, 0, 0, .7) 15%, 
            /* this is a combination of the two. In each couplet the roles are reversed, to allow sharp edges all around */
            rgba(0, 0, 0, .7) 25%, transparent 25%, 
            transparent 30%, rgba(0, 0, 0, .7) 30%, 
            rgba(0, 0, 0, .7) 40%, transparent 40%, 
            transparent 45%, rgba(0, 0, 0, .7) 45%, 
            rgba(0, 0, 0, .7) 55%, transparent 55%, 
            transparent 60%, rgba(0, 0, 0, .7) 60%, 
            rgba(0, 0, 0, .7) 70%, transparent 70%, 
            transparent 75%, rgba(0, 0, 0, .7) 75%, 
            rgba(0, 0, 0, .7) 85%, transparent 85%, 
            transparent 90%, rgba(0, 0, 0, .7) 90%, 
            rgba(0, 0, 0, .7) 100%, transparent 100%, 
            transparent
            );
            background-image: -moz-linear-gradient(-45deg,  rgba(0, 0, 0, .7) 10%, transparent 10%, transparent 15%, rgba(0, 0, 0, .7) 15%, rgba(0, 0, 0, .7) 25%, transparent 25%, transparent 30%, rgba(0, 0, 0, .7) 30%, rgba(0, 0, 0, .7) 40%, transparent 40%, transparent 45%, rgba(0, 0, 0, .7) 45%, rgba(0, 0, 0, .7) 55%, transparent 55%, transparent 60%, rgba(0, 0, 0, .7) 60%, rgba(0, 0, 0, .7) 70%, transparent 70%, transparent 75%, rgba(0, 0, 0, .7) 75%, rgba(0, 0, 0, .7) 85%, transparent 85%, transparent 90%, rgba(0, 0, 0, .7) 90%, rgba(0, 0, 0, .7) 100%, transparent 100%, transparent);
            background-image: -ms-linear-gradient(-45deg, rgba(0, 0, 0, .7) 10%, transparent 10%, transparent 15%, rgba(0, 0, 0, .7) 15%, rgba(0, 0, 0, .7) 25%, transparent 25%, transparent 30%, rgba(0, 0, 0, .7) 30%, rgba(0, 0, 0, .7) 40%, transparent 40%, transparent 45%, rgba(0, 0, 0, .7) 45%, rgba(0, 0, 0, .7) 55%, transparent 55%, transparent 60%, rgba(0, 0, 0, .7) 60%, rgba(0, 0, 0, .7) 70%, transparent 70%, transparent 75%, rgba(0, 0, 0, .7) 75%, rgba(0, 0, 0, .7) 85%, transparent 85%, transparent 90%, rgba(0, 0, 0, .7) 90%, rgba(0, 0, 0, .7) 100%, transparent 100%, transparent);
            background-image: -o-linear-gradient(-45deg, rgba(0, 0, 0, .7) 10%, transparent 10%, transparent 15%, rgba(0, 0, 0, .7) 15%, rgba(0, 0, 0, .7) 25%, transparent 25%, transparent 30%, rgba(0, 0, 0, .7) 30%, rgba(0, 0, 0, .7) 40%, transparent 40%, transparent 45%, rgba(0, 0, 0, .7) 45%, rgba(0, 0, 0, .7) 55%, transparent 55%, transparent 60%, rgba(0, 0, 0, .7) 60%, rgba(0, 0, 0, .7) 70%, transparent 70%, transparent 75%, rgba(0, 0, 0, .7) 75%, rgba(0, 0, 0, .7) 85%, transparent 85%, transparent 90%, rgba(0, 0, 0, .7) 90%, rgba(0, 0, 0, .7) 100%, transparent 100%, transparent);
            background-image: linear-gradient(-45deg, rgba(0, 0, 0, .7) 10%, transparent 10%, transparent 15%, rgba(0, 0, 0, .7) 15%, rgba(0, 0, 0, .7) 25%, transparent 25%, transparent 30%, rgba(0, 0, 0, .7) 30%, rgba(0, 0, 0, .7) 40%, transparent 40%, transparent 45%, rgba(0, 0, 0, .7) 45%, rgba(0, 0, 0, .7) 55%, transparent 55%, transparent 60%, rgba(0, 0, 0, .7) 60%, rgba(0, 0, 0, .7) 70%, transparent 70%, transparent 75%, rgba(0, 0, 0, .7) 75%, rgba(0, 0, 0, .7) 85%, transparent 85%, transparent 90%, rgba(0, 0, 0, .7) 90%, rgba(0, 0, 0, .7) 100%, transparent 100%, transparent);
        }

	header.active.emergency div h1 { text-align: center; color: red; font-size: 180%;}
	header.active.emergency div p { line-height: 200%; font-weight: bold; font-variant: small-caps; text-align: center; font-size: 140%;}


        .priority.p1 { background: red;}
        .priority.p2 { background: darkorange;}
        .priority.p3 { background: lightsteelblue;}
        .priority.p4 { background: blue;}

        /* General Layout Styles */

        div.clear {clear:both;} /* clears floated elements manually */
        div.section.active {
            clear:both; 
            border-bottom: 1px solid #fff; 
            padding-bottom: 15px;
        }
        div.section h1 { 
            color: #fff; 
            padding: 10px 0 0 10px;
            font-size: 200%;
        }
        /* // General Layout Styles */

        @media only screen and (min-width: 1080px) and (-webkit-min-device-pixel-ratio: 2){
            /* ipad three stuff. needs touch controls, but high resolution */
        }
        
        @media only screen and (min-width: 800px) and (max-width: 15080px){
            /* for everything up to a 1080p display in landscape mode */
        }

        @media only screen and (min-width: 480px) and (max-width: 799px) { /* almost all current tablets sit between 600px and 800px wide */
            div.section h1 { font-size: 150%;}
        }

        @media only screen and (max-width: 479px) {
            div.section h1 { font-size: 110%;}
        } /* end "@media only screen and (max-width: 480px)" */


