<!DOCTYPE html>
<html>
    <head>
        <title>TryCatch - Dashboards</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="stylesheet" type="text/css" href="/bundles/trycatchdashboard/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/bundles/trycatchdashboard/css/base.css" />
        <script type="text/javascript">var refreshCounter = 5000; </script>
    </head>
    <body>
        <section id="wrapper">
            <div id="content" class="container-fluid">
                <section id="sidebar"></setion>

            </div>
        </section>
        <script src="/bundles/trycatchdashboard/js/src/config/require.js"></script>
        <script src="/bundles/trycatchdashboard/js/vendor/modenizr.js"></script>
        <script data-main="/bundles/trycatchdashboard/js/src/main" src="/bundles/trycatchdashboard/js/vendor/require.js"></script>
    </body>
</html>
