<!DOCTYPE html>
<html>
    <head>
        <title>TryCatch - Dashboards</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="/bundles/trycatchdashboard/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/bundles/trycatchdashboard/css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="/bundles/trycatchdashboard/css/dash.css" />
    </head>
    <body>
        <section id="wrapper">
            <div id="content" class="container-fluid">

            </div>
        </section>
        <script data-main="/bundles/trycatchdashboard/js/src/main" src="/bundles/trycatchdashboard/js/vendor/require.js"></script>
        <script src="/bundles/trycatchdashboard/js/src/config/require.js"></script>
    </body>
</html>
