<!DOCTYPE html>
<html>
<head>
    <title>NDM Central Technology Informative Workspaces</title>

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png"> <!-- For iPhone 4 -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png"> <!-- For iPad 1-->
    <link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png"> <!-- For iPhone 3G, iPod Touch and Android -->
    <link rel="shortcut icon" href="img/l/apple-touch-icon.png"> <!-- For Nokia -->
    <link rel="shortcut icon" href="/favicon.ico"> <!-- For everything else -->

    <script type="text/javascript">
        var useApi = true; // TODO remove all of this, it's only here while data is up and down.
    </script>

    <!-- below script allows CSS3 pseudo selectors in IE -->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="js/selectivizr-min.js"></script>
    <![endif]-->
	{% javascripts
		'@TryCatchDashboardBundle/Resources/public/dash_config.js'
		'@TryCatchDashboardBundle/Resources/public/js/yepnope.1.5.3-min.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
    <script type="text/javascript">
    function asset(src) {
        return 'http://trycatch.com.au/bundles/trycatchdashboard/' + src;
    };
        var dataSources = {

            'releaseDates'  : 'http://trycatch.com.au/api/channels/1/releasedates', // release dates for production
            'components'    : 'http://trycatch.com.au/api/components',
                /*
                    Get all of the current components (CAM, Fatwire) at a global level
                    http://trycatch.com.au/api/components/1 => Get a single component
                    http://trycatch.com.au/api/components/1/channels => Get a single components channels
               */
            'channels'      : 'http://trycatch.com.au/api/channels',
                /*
                    Get all of the current channels
                    http://trycatch.com.au/api/channels/1 => Get a single channel
                    http://trycatch.com.au/api/channels/1/components => Get a channels components
                    http://trycatch.com.au/api/channels/1/components/1 => Get the detailed information about a single channels single component
                 */
            'graphSummary' : 'http://trycatch.com.au/api/issues/graph'
        };

        if (useApi) {
            /* This will get the current highest priority SM7 call status for open tickets */
            document.write('<script type="text/javascript" src="http://trycatch.com.au/api/issues/highest.js?varname=highest"><' + '/script>');
                } else { // if we're not using the API we will get a local copy of the information we need. Should not be an issue when we're on the same system
            document.write('<script type="text/javascript" src="channels.js"><' + '/script>');
            document.write('<script type="text/javascript" src="components.js"><' + '/script>');
            document.write('<script type="text/javascript" src="graph.js"><' + '/script>');
                }
</script>
    <!--[if lt IE 7 ]><script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script><script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script><![endif]-->

    <script type="text/javascript">
        var priorityStatus = ['normal', 'panic', 'worry', 'normal', 'normal', 'noinfo'], // we only need to flag p1 or p2 issues.
            highest = 5, // default to NO INFO... for when API is down.
            countdownDays = '',
            releaseName = '',
            prodTextDate = '',
            svnTextDate = '',
            apiSuffix = '.js',
            defcon = highest, // if nothing is returned from above script default to "all normal";
            bodyClass = priorityStatus[defcon],
            build = {},
            daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] // this is for reporting purposes
            coreEnvironments = {
                'DEV': {
                    'longName'  : 'User Acceptance Testing',
                    'classes'   : 'latest truth first build'
                },
                'PROD' : {
                    'longName'  : 'Production',
                    'classes'   : ''
                },
                'UAT': {
                    'longName'  : 'Development',
                    'classes'   : ''
                },
                'SIT': {
                    'longName'  : 'System Integration Testing',
                    'classes'   : ''
                    }
                } // these will be static on the page. Others will scroll around.
;

        if (useApi) { /* if we are not using the API we will source these from a local, older version */
            var sm7GraphData = {}, //TODO remove temp data call
                components = {},
                channels = {};
        }
    </script>

    <script type="text/javascript">
        if (typeof console == "undefined") { // kill the console under unsupported browsers
            window.console = {
                log: function () {}
            };
        }

        function getChannels() {
            var chanReq = $.ajax({
                url: dataSources.channels + apiSuffix,
                type: "GET",
                jsonp: '_callback',
                dataType: "jsonp",
                success : function(data, textStatus, jqXHR) {
                    channels = data;
                    },
                complete: function(jqXHR, textStatus) {
                },
                error: function(xhr, textStatus, errorThrown) {
                    channels = {"error" : "Unable to retrieve Channel Data"}
                }
            });
        }

        function getSM7Summary() {
            var summReq = $.ajax({
                url: dataSources.graphSummary + apiSuffix,
                type: "GET",
                jsonp: '_callback',
                dataType: 'jsonp',
                success: function(data, textStatus, jqXHR) {
                    sm7GraphData = data;
                },
complete: function(jqXHR, textStatus) {
console.log(textStatus);
                },
                error: function(xhr, textStatus, errorThrown) {
                    sm7GraphData = {"error": "Unable to retrieve graph data"}
                }
            });
        }

        function getGlobalComponents() { // get global components and their latest versions.
            var chanReq = $.ajax({
                url: dataSources.components + apiSuffix,
                type: "GET",
                jsonp: '_callback',
                dataType: "jsonp",
                success : function(data, textStatus, jqXHR) {
                components = data;
                },
                complete: function(jqXHR, textStatus) {
                },
                error: function(xhr, textStatus, errorThrown) {
                    components = {"error" : "Unable to retrieve Component Data"}
                }
            });
        }

        yepnope([{
            load: {
            'jquery' : 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js',
            'fittext' : asset('js/jquery.fittext.js'),
            'countdown' : asset('js/jquery.countdown.min.js'),
            'rotateGroup' : asset('js/jquery.rotateClassGroup.js'),
            'templating' : asset('js/micro-templating.js'),
            'templates' : asset('js/templates.js'),
            'matchMedia': asset('js/matchMedia.js')
            },
            callback: {
            "jquery" : function(url, result, key) {
                    if (useApi) {
                        getChannels();
                        getGlobalComponents();
                        getSM7Summary();
                        }
                    $('body').addClass(bodyClass);
                },
                "fittext" : function(url, result, key) {
                    $('#deadlines dl dt:not(.heading), #deadlines dl dd:not(.heading)').fitText();
                    $('#countdown_days').text(countdownDays).fitText(0.5);
                },
                "countdown" : function(url, result, key) {
                    var currDate = new Date(),
                        compDate;

                    for (var n in releaseDates) {
                        if (releaseDates.hasOwnProperty(n)) {
                            compDate = new Date(releaseDates[n].release_date);
                            if (compDate >= currDate) { // we're not in the past for a fatwire release
                                releaseName = n;
                                svnTextDate = releaseDates[n].freeze_date;
                                prodTextDate = releaseDates[n].release_date;
                                break; // don't want to keep going once we get the earliest (next) match.
                            }
                        }
                    }

                    svnTextDate = svnTextDate || false;
                    prodTextDate = prodTextDate || false;

                    if (!svnTextDate) { // we have not received data from the API
                        $('#countdown_days').html('<span class="no_date">No Release Date Found</span>');
                        $('#svn_build_deadline_time, #prod_release_deadline_time').html('<span class="no_date">Unknown</span>');
                    } else {
                        svnDate = new Date(svnTextDate.replace(/-/g, '/')); // need to replace '-' in dates with '/' for firefox
                        prodDate = new Date(prodTextDate.replace(/-/g, '/')); // need to replace '-' in dates with '/' for firefox
                        dayDays = (Math.floor((prodDate - currDate)/(1000*60*60*24)) === 1) ? "Day" : "Days";
                        $('#countdown_days').countdown({
                            until: prodDate,
                            format: 'DMS',
                            alwaysExpire: true,
                            layout: '<span class="countdown_day_value">{dn}</span><span class="countdown_day_label">' + dayDays +'</span>',
                            tickInterval: 14400, //will only count every 4 hours.
                            onExpiry: function() { $(this).addClass('expired');}
                        });

                        $('#svn_build_deadline_time').countdown({
                            until: svnDate,
                            format: 'HMS',
                            alwaysExpire: true,
                            layout: '{hn}hrs {mn}mins {sn}secs',
                            onExpiry: function() { $(this).addClass('expired');}
                        });

                        $('#prod_release_deadline_time').countdown({
                            until: prodDate,
                            format: 'HMS',
                            alwaysExpire: true,
                            layout: '{hn}hrs {mn}mins {sn}secs',
                            onExpiry: function() { $(this).addClass('expired');}
                        });
                    }
                },
                "templating" : function(url, result, key) {
                },
                "rotateGroup" : function(url, result, key) {
                },
                "matchMedia" : function(url, result, key) {
                    if (matchMedia('only screen and (min-width: 800px) and (max-width: 15080px)').matches) {
                        yepnope([{
                            load: {
                                "highcharts" : asset('js/highcharts.js')
                            },
                            callback: {
                                'highcharts' : function(url, result, key) {
                                    var chart,
                                        summaryLength = 7, // goes back one week from latest data
                                    summaryLength = 7,
                                    graphSummaryData = {
                                        'labels' : [],
                                        'dataPoints' : {
                                            'p1' : [],
                                            'p2' : [],
                                            'p3' : [],
                                            'p4' : []
                                        }
                                    };
                                    if (sm7GraphData['1']) {
                                        $('#call_stats').removeClass('error');
                                        for (var dataPointDate in sm7GraphData['1']) {
                                            graphSummaryData.dataPoints.p1.push(sm7GraphData['1'][dataPointDate]);
                                            var dataDate = new Date(dataPointDate), // x is the label of
                                                dataDay = daysOfWeek[dataDate.getDay()];
                                            graphSummaryData.labels.push(dataDay + ' ' + dataDate.getDate() + '/' + (dataDate.getMonth() + 1) + '/' + dataDate.getFullYear()); // load up the correct day/date data. Only do this once.
                                        };
                                        for (var x in sm7GraphData['2']) {
                                            graphSummaryData.dataPoints.p2.push(sm7GraphData['2'][x])
                                        };
                                        for (var x in sm7GraphData['3']) {
                                            graphSummaryData.dataPoints.p3.push(sm7GraphData['3'][x])
                                        };
                                        for (var x in sm7GraphData['4']) {
                                            graphSummaryData.dataPoints.p4.push(sm7GraphData['4'][x])
                                        };


                                        chart = new Highcharts.Chart({
                                            chart: {
                                                renderTo: 'call_stats',
                                                backgroundColor: '#333',
                                                type: 'column',
                                                spacingTop: 5,
                                                spacingRight: 20,
                                                height: 500,
                                                borderRadius: 10
                                            },
                                            legend: {
                                                itemStyle: {
                                                    fontWeight: 'bold',
                                                    color: '#fff',
                                                    },
symbolWidth: 50,

                                            },
                                            credits: {
                                                enabled: false
                                                },
                                            title: {
                                                text: 'Open SM7 Tickets this week',
                                                align: 'center',
                                                margin: 20,
                                                style: {
                                                    color: '#fff',
                                                    fontWeight: 'bold'
                                                }
                                            },
                                            xAxis: {
                                                lineColor: '#464646',
                                                lineWidth: 1,
                                                gridLineColor: '#464646',
                                                categories: graphSummaryData.labels.slice(-summaryLength),
                                                plotBands: [{ // mark the current day
                                                                color: '#f9ffb7',
                                                                from: 5.5,
                                                                to: 6.5,
                                                                zIndex: 2

                                                }],
                                                labels: {
                                                    style: {
                                                        color: '#fff'
                                                    }
                                                }/*,
                                                plotLines: [{
                                                    color: '#f00',
                                                    width: 10,
                                                    value: 5.5,
                                                    zIndex: 2
                                                }] */
                                            },
                                            yAxis: {
                                                lineColor: '#464646',
                                                lineWidth: 1,
                                                gridLineColor: '#464646',
                                                gridLineWidth: 2,
                                                gridLineDashStyle: 'solid',
                                                showFirstLabel: false,
                                                min: 0,
                                                title: {
                                                    text: 'Total Calls',
                                                    rotation: 270,
                                                    style: {
                                                        fontWeight: 'bold',
                                                        color: '#fff',
                                                    }
                                                },
                                                stackLabels: {
                                                    enabled: false,
                                                    style: {
                                                        fontWeight: 'bold',
                                                        color: '#fff'
                                                    }
                                                }
                                            },
                                            navigation: {
                                                buttonOptions: {
                                                    enabled: false
                                                }
                                            },
                                            plotOptions: {
                                                series: {
                                                    groupPadding: 0,
                                                    marker: {
                                                        radius: 9
                                                    }
                                                },
                                                column: {
                                                    stacking: 'normal',
                                                    dataLabels: {
                                                        enabled: true,
                                                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black'
                                                    }
                                                }
                                            },
                                            series: [{
                                                name: 'Priority 1',
                                                data: graphSummaryData.dataPoints.p1.slice(-summaryLength),
                                                lineWidth: 11,
                                                color: 'f00'
                                            }, {
                                                name: 'Priority 2',
                                                data: graphSummaryData.dataPoints.p2.slice(-summaryLength),
                                                lineWidth: 11,
                                                color: 'darkorange'
                                            }, {
                                                name: 'Priority 3',
                                                data: graphSummaryData.dataPoints.p3.slice(-summaryLength),
                                                lineWidth: 11,
                                                color: '84c5eb'
                                            }, {
                                                name: 'Priority 4',
                                                data: graphSummaryData.dataPoints.p4.slice(-summaryLength),
                                                lineWidth: 11,
                                                color: 'lightsteelblue'
                                            }]
                                        });
                                    } else {
                                        $('#call_stats').addClass('error').html('Cannot retrieve SM7 call stats at the moment.');
                                    }// end of if sm7graphdata exists
                                }
                            }
                        }]);
                    }
                },
                "templates" : function () {
                    var $envLeader, $envItems, envMarkup = '', buildMarkup = '', sysMarkup = '', $envNames = {} ;

                    if ((channels['error'] || components['error'])) {
                        envMarkup = tmpl(dashTemplates['noEnvironments'], {});
                    } else {
//                        sysMarkup = tmpl(dashTemplates['environmentInfo'], {}); // for use in non-desktop versions?
//                        envMarkup = tmpl(dashTemplates['environmentsList'], {}); // for use in non-desktop versions?
                        envMarkup = tmpl(dashTemplates['environmentsTable'], {});
                    }

                    if (build['error']) {
                    } else {
//                        buildMarkup = tmpl(dashTemplates['bambooInfo'], {});
                    }

                    $('#online_status_header').append(envMarkup);
//                    $('#bamboo_status_inner').append(buildMarkup);

                    $('#online_status table tr').each(function() {
                            $(this).find('td[class~=core]').insertAfter($(this).find('td.leader'));
                    });

                    var totalEntries = $('#online_status table thead td:not(.leader)'),
                        fullTableRows = $('#online_status table tbody tr'),
                        totalEntryCount = totalEntries.size(),
                        coreEntries = totalEntries.filter('.core'),
                        coreEntryCount = coreEntries.size(),
                        nonCoreEntries = totalEntries.filter(':not(.core)'),
                        nonCoreEntryCount = nonCoreEntries.size(),
                        extraSlots = 8 - coreEntryCount,
                        numRotateGroups = (Math.ceil(nonCoreEntryCount/extraSlots)),
                        rotateGroups = [],
                        incr = 0,
                        count = 0;

                    $(nonCoreEntries).each(function() {
                        $(this).addClass(' rotateGroup rotateGroup'+incr);
                        if (count < (extraSlots -1)) {
                            count++;
                        } else {
                            incr++;
                            count = 0;
                        }
                    });

                    fullTableRows.each(function() {
                        var tdColl = $(this).find('td:not(.leader)');
                        tdColl.each(function() {
                            $(this).addClass(totalEntries.eq($(this).index()-1).attr('class')); // index is 1-based indexing. eq is 0 based indexing. go figure, huh.
                        });
                    });

                    $('.rotateGroup0').addClass('active');
                    if (numRotateGroups > 1) {
                        for (var x=0; x<numRotateGroups;x++) {
                            rotateGroups.push('.rotateGroup' + x);
                        }

                        rotateMarkup = tmpl(dashTemplates['rotateIndicator'], {'core': coreEntryCount, 'noncore': extraSlots, 'numRotateGroups':numRotateGroups});
//                        $('table.environmentsTable').prepend(rotateMarkup).find('caption span.rotate_count_0').addClass('active');
                        $(rotateMarkup).insertAfter($('table.environmentsTable'));
                        $('div.rotate_navigation span.rotate_count_0').addClass('active');


                        var rotateInterval = setInterval(function() { rotateClassesGroup(rotateGroups); }, 5000); // show the non-core items for 5 seconds, then on to the next one.
                    }

//                    $('#online_status_header').append(sysMarkup);

//                    footerMarkup = tmpl(dashTemplates['latestVersions'], {});
//                    $('footer').html(footerMarkup);

//                    $envLeader = $('#online_status ul.environments').clone().removeAttr('id').addClass('cloned');
//                    $envItems = $('#online_status ul:not(.environments)');

//                    $envItems.filter(':even:not(:first)').before($envLeader).css({});
                }
            },
            complete  : function() {
                    $('#release_name').text(releaseName).fitText(0.5);
            }
        }]);
    </script>

    <style>
        @font-face {
            font-family: 'MelbourneRegular';
            src: url('/bundles/trycatchdashboard/fonts/melbourne/Melbourne_reg.eot');
            src: url('/bundles/trycatchdashboard/fonts/melbourne/Melbourne_reg?#iefix') format('embedded-opentype'),
                 url('/bundles/trycatchdashboard/fonts/melbourne/Melbourne_reg.woff') format('woff'),
                 url('/bundles/trycatchdashboard/fonts/melbourne/Melbourne_reg.ttf') format('truetype'),
                 url('/bundles/trycatchdashboard/fonts/melbourne/Melbourne_reg.svg#MelbourneRegular') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        html, body {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            border: 0;
            font-family: 'MelbourneRegular', 'Tw Cen MT', 'Tahoma', 'Arial', sans-serif;
        }

        header {display: none;}
        header.active {display: block; background: yellow; margin:0; font-size: 1em; padding: 5px;}
        footer {color: #fff; position: fixed: bottom: 0;}
        footer span {float: left; padding-left: 15px;}
        footer dl {float: left; margin: 0;}
        footer dt {float: left; margin: 0 0 0 10px;}
        footer dd {float: left; margin: 0 10px 0 0}

        body.noinfo {background-color: #ccc;}
        body.panic {background-color: #8b0000;} /* darkred */
        body.worry {background-color: #ff8c00;} /* darkorange */
        body.normal {background-color: #228b22;} /* forestgreen */

        div.clear {clear:both;}

        #build_status {
            clear:both;
            margin-top: 10px;
        }
        #bamboo_status {
            clear:both;
            margin-top: 10px;
        }
        #next_release {
            padding-top: 25px;
            width: 49%;
            float: left;
            clear: none;
            padding: 0;
            position: relative;
            text-align: center;
        }

        #release_name {
            width: 100%;
            color: #fff;
            font-weight: bold;
            overflow: hidden;
        }

        #countdown_days {
            background: #333;
            opacity : .7;
            color: #fff;
            padding: 10px;
            margin: 15px 10px 0 10px;
        }

        .round-corners {
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
        /*
            The CSS below reproduces the original gradient from the events banner on the prototype. It was not fun to make, so I don't want to have to rebuild it for later.
        */
        #release_info {
            height: auto;
            background:
            -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(9%,rgba(0,0,0,0)), color-stop(9%,rgba(0,0,0,0.2)), color-stop(28%,rgba(0,0,0,0.2)), color-stop(28%,rgba(0,0,0,0)), color-stop(39%,rgba(0,0,0,0)), color-stop(39%,rgba(0,0,0,0.2)), color-stop(41.5%,rgba(0,0,0,0.2)), color-stop(41.5%,rgba(0,0,0,0.3)), color-stop(47%,rgba(0,0,0,0.3)), color-stop(47%,rgba(0,0,0,0.4)), color-stop(54%,rgba(0,0,0,0.4)), color-stop(54%,rgba(0,0,0,0.3)), color-stop(82.5%,rgba(0,0,0,0.3)), color-stop(82.5%,rgba(0,0,0,0.2)), color-stop(86%,rgba(0,0,0,0.2)), color-stop(86%,rgba(0,0,0,0.1)), color-stop(92%,rgba(0,0,0,0.1)), color-stop(92%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 9%, rgba(0,0,0,0.2) 9%, rgba(0,0,0,0.2) 28%, rgba(0,0,0,0) 28%, rgba(0,0,0,0) 39%, rgba(0,0,0,0.2) 39%, rgba(0,0,0,0.2) 41.5%, rgba(0,0,0,0.3) 41.5%, rgba(0,0,0,0.3) 47%, rgba(0,0,0,0.4) 47%, rgba(0,0,0,0.4) 54%, rgba(0,0,0,0.3) 54%, rgba(0,0,0,0.3) 82.5%, rgba(0,0,0,0.2) 82.5%, rgba(0,0,0,0.2) 86%, rgba(0,0,0,0.1) 86%, rgba(0,0,0,0.1) 92%, rgba(0,0,0,0) 92%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%);
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 9%, rgba(0,0,0,0.2) 9%, rgba(0,0,0,0.2) 28%, rgba(0,0,0,0) 28%, rgba(0,0,0,0) 39%, rgba(0,0,0,0.2) 39%, rgba(0,0,0,0.2) 41.5%, rgba(0,0,0,0.3) 41.5%, rgba(0,0,0,0.3) 47%, rgba(0,0,0,0.4) 47%, rgba(0,0,0,0.4) 54%, rgba(0,0,0,0.3) 54%, rgba(0,0,0,0.3) 82.5%, rgba(0,0,0,0.2) 82.5%, rgba(0,0,0,0.2) 86%, rgba(0,0,0,0.1) 86%, rgba(0,0,0,0.1) 92%, rgba(0,0,0,0) 92%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 9%, rgba(0,0,0,0.2) 9%, rgba(0,0,0,0.2) 28%, rgba(0,0,0,0) 28%, rgba(0,0,0,0) 39%, rgba(0,0,0,0.2) 39%, rgba(0,0,0,0.2) 41.5%, rgba(0,0,0,0.3) 41.5%, rgba(0,0,0,0.3) 47%, rgba(0,0,0,0.4) 47%, rgba(0,0,0,0.4) 54%, rgba(0,0,0,0.3) 54%, rgba(0,0,0,0.3) 82.5%, rgba(0,0,0,0.2) 82.5%, rgba(0,0,0,0.2) 86%, rgba(0,0,0,0.1) 86%, rgba(0,0,0,0.1) 92%, rgba(0,0,0,0) 92%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 9%, rgba(0,0,0,0.2) 9%, rgba(0,0,0,0.2) 28%, rgba(0,0,0,0) 28%, rgba(0,0,0,0) 39%, rgba(0,0,0,0.2) 39%, rgba(0,0,0,0.2) 41.5%, rgba(0,0,0,0.3) 41.5%, rgba(0,0,0,0.3) 47%, rgba(0,0,0,0.4) 47%, rgba(0,0,0,0.4) 54%, rgba(0,0,0,0.3) 54%, rgba(0,0,0,0.3) 82.5%, rgba(0,0,0,0.2) 82.5%, rgba(0,0,0,0.2) 86%, rgba(0,0,0,0.1) 86%, rgba(0,0,0,0.1) 92%, rgba(0,0,0,0) 92%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%);
            background: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 9%, rgba(0,0,0,0.2) 9%, rgba(0,0,0,0.2) 28%, rgba(0,0,0,0) 28%, rgba(0,0,0,0) 39%, rgba(0,0,0,0.2) 39%, rgba(0,0,0,0.2) 41.5%, rgba(0,0,0,0.3) 41.5%, rgba(0,0,0,0.3) 47%, rgba(0,0,0,0.4) 47%, rgba(0,0,0,0.4) 54%, rgba(0,0,0,0.3) 54%, rgba(0,0,0,0.3) 82.5%, rgba(0,0,0,0.2) 82.5%, rgba(0,0,0,0.2) 86%, rgba(0,0,0,0.1) 86%, rgba(0,0,0,0.1) 92%, rgba(0,0,0,0) 92%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%);
        }

        #release_info_old {
            height: auto;
            position: relative;
            background-color: transparent;
            background-image: -webkit-gradient(
            linear, /* the style of the gradient */
            0 0,  /* the start point of the gradient */
            100% 100%,  /* the end-point of the gradient */
            color-stop(.10, rgba(0, 0, 0, .2)), color-stop(.10, transparent), color-stop(.15, transparent), color-stop(.15, rgba(0, 0, 0, .2)),
            color-stop(.25, rgba(0, 0, 0, .2)), color-stop(.25, transparent), color-stop(.30, transparent), color-stop(.30, rgba(0, 0, 0, .2)),
            color-stop(.40, rgba(0, 0, 0, .2)), color-stop(.40, transparent), color-stop(.45, transparent), color-stop(.45, rgba(0, 0, 0, .2)),
            color-stop(.55, rgba(0, 0, 0, .2)), color-stop(.55, transparent), color-stop(.60, transparent), color-stop(.60, rgba(0, 0, 0, .2)),
            color-stop(.70, rgba(0, 0, 0, .2)), color-stop(.70, transparent), color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, .2)),
            color-stop(.85, rgba(0, 0, 0, .2)), color-stop(.85, transparent), color-stop(.90, transparent), color-stop(.90, rgba(0, 0, 0, .2)),
            color-stop(1.00, rgba(0, 0, 0, .2)), color-stop(1.00, transparent), to(transparent));
            background-image:
            -webkit-linear-gradient(
            -45deg,  /* the angle of the linear gradient*/
            rgba(0, 0, 0, .2) 10%,
            /* this is a color-stop. This one tells the browser to render the gradient in white with 30% opacity, and make it 10% wide */
            transparent 10%,
            /* another color-stop. This one is transparent for 10% of the width. By making these two start at the same point, we have sharp lines */
            transparent 15%, rgba(0, 0, 0, .2) 15%,
            /* this is a combination of the two. In each couplet the roles are reversed, to allow sharp edges all around */
            rgba(0, 0, 0, .2) 25%, transparent 25%,
            transparent 30%, rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, .2) 40%, transparent 40%,
            transparent 45%, rgba(0, 0, 0, .2) 45%,
            rgba(0, 0, 0, .2) 55%, transparent 55%,
            transparent 60%, rgba(0, 0, 0, .2) 60%,
            rgba(0, 0, 0, .2) 70%, transparent 70%,
            transparent 75%, rgba(0, 0, 0, .2) 75%,
            rgba(0, 0, 0, .2) 85%, transparent 85%,
            transparent 90%, rgba(0, 0, 0, .2) 90%,
            rgba(0, 0, 0, .2) 100%, transparent 100%,
            transparent
            );
            background-image: -moz-linear-gradient(-45deg,  rgba(0, 0, 0, .2) 10%, transparent 10%, transparent 15%, rgba(0, 0, 0, .2) 15%, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 30%, rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, .2) 40%, transparent 40%, transparent 45%, rgba(0, 0, 0, .2) 45%, rgba(0, 0, 0, .2) 55%, transparent 55%, transparent 60%, rgba(0, 0, 0, .2) 60%, rgba(0, 0, 0, .2) 70%, transparent 70%, transparent 75%, rgba(0, 0, 0, .2) 75%, rgba(0, 0, 0, .2) 85%, transparent 85%, transparent 90%, rgba(0, 0, 0, .2) 90%, rgba(0, 0, 0, .2) 100%, transparent 100%, transparent);
            background-image: -ms-linear-gradient(-45deg, rgba(0, 0, 0, .2) 10%, transparent 10%, transparent 15%, rgba(0, 0, 0, .2) 15%, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 30%, rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, .2) 40%, transparent 40%, transparent 45%, rgba(0, 0, 0, .2) 45%, rgba(0, 0, 0, .2) 55%, transparent 55%, transparent 60%, rgba(0, 0, 0, .2) 60%, rgba(0, 0, 0, .2) 70%, transparent 70%, transparent 75%, rgba(0, 0, 0, .2) 75%, rgba(0, 0, 0, .2) 85%, transparent 85%, transparent 90%, rgba(0, 0, 0, .2) 90%, rgba(0, 0, 0, .2) 100%, transparent 100%, transparent);
            background-image: -o-linear-gradient(-45deg, rgba(0, 0, 0, .2) 10%, transparent 10%, transparent 15%, rgba(0, 0, 0, .2) 15%, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 30%, rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, .2) 40%, transparent 40%, transparent 45%, rgba(0, 0, 0, .2) 45%, rgba(0, 0, 0, .2) 55%, transparent 55%, transparent 60%, rgba(0, 0, 0, .2) 60%, rgba(0, 0, 0, .2) 70%, transparent 70%, transparent 75%, rgba(0, 0, 0, .2) 75%, rgba(0, 0, 0, .2) 85%, transparent 85%, transparent 90%, rgba(0, 0, 0, .2) 90%, rgba(0, 0, 0, .2) 100%, transparent 100%, transparent);
            background-image: linear-gradient(-45deg, rgba(0, 0, 0, .2) 10%, transparent 10%, transparent 15%, rgba(0, 0, 0, .2) 15%, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 30%, rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, .2) 40%, transparent 40%, transparent 45%, rgba(0, 0, 0, .2) 45%, rgba(0, 0, 0, .2) 55%, transparent 55%, transparent 60%, rgba(0, 0, 0, .2) 60%, rgba(0, 0, 0, .2) 70%, transparent 70%, transparent 75%, rgba(0, 0, 0, .2) 75%, rgba(0, 0, 0, .2) 85%, transparent 85%, transparent 90%, rgba(0, 0, 0, .2) 90%, rgba(0, 0, 0, .2) 100%, transparent 100%, transparent);
        }

        #deadlines div.inset {
            margin: 10px;
            background-color: transparent;
            color: #fff;
        }

        #deadlines dt, #deadlines dd {
            margin: 0 0 10px 0;
            white-space: nowrap;
            display: block;
            font-size: xx-large;
            float: none;
            clear: none;
            text-align: center;
            width: auto;
            margin: 0;
            padding: 0;
            overflow:hidden;
        }

        #deadlines dt.heading,
        #deadlines dd.heading {
            /* the second heading for the environments */
            display: none;
        }

        #deadlines dt {
            color: #aaa;
        }

        #deadlines dl {
            background-color: #333;
            padding: 5px 0;
        }

        #deadlines .hasCountdown.expired {
            color: #f00;
        }

        #online_status_inner {
            background-color: #333;
            color: #fff;
            margin: 0 10px;
            clear: both;
            overflow: hidden;
        }

        #bamboo_status_inner {
            margin: 0 10px;
            padding: 15px;
        }

        #bamboo_status_inner .build_element {
            width: 24%;
            float: left;
            margin-left: 1%;
            margin-bottom: 15px;
        }
        #bamboo_status_inner .build_element .component_name {
            width: 100%;
            outline: 1px solid #fff;
            background: #333;
            color: #fff;
            font-size: 300%;
            text-align: center;
            overflow: hidden;
        }
        #bamboo_status_inner .build_element .component_details {
            margin: 0 10px;
            border: 1px solid #fff;
            border-top: 0;
        }

        #bamboo_status_inner .build_element .component_details.build_status { /* a default value, if it is not passed through */
            background-color: #333;
        }

        #bamboo_status_inner .build_element .component_details.success {
            background-color: #1b6f1a;
        }
        #bamboo_status_inner .build_element .component_details.fail {
            background-color: #6e0000;
        }
        #bamboo_status_inner .build_element .component_details.building {
            background-color: #005fbf;
        }

        #bamboo_status_inner .build_element .component_details dl {
            margin: 0;
            padding: 10px;
        }
        #bamboo_status_inner .build_element .component_details dt {
            color: #fff;
            clear:left;
        }
        #bamboo_status_inner .build_element .component_details dd {
            color: #fff;
            clear:right;
            font-size: 200%;
        }

        #online_status ul,
        #online_status ul li {
            list-style: none;
            padding-left: 0;
            margin-left: 0;
            font-size: 100%;
            overflow:hidden;
            white-space: nowrap;
        }

        #online_status td.old_version {
            /* highlights channels where the installed version is out of date (not latest point release in nexus) */
            color: #555;
            font-weight: normal;
        }
        #online_status td.very_old_version {
            /* highlights channels where the installed version is extremely out of date (full version lower than latest in nexus) */
            color: #999;
            font-weight: bold;
        }

        #online_status table tr:nth-child(even) {
            /* zebra striping */
            background-color: #555;
        }

        #online_status table tfoot #component_rotator { text-align: center;}

        #online_status ul {
            float: left;
            width: 30%;
            font-size: 140%;
            margin: 10px 0 10px 0;
        }

        #online_status ul li.leader {
            color: #aaa;
        }

        #online_status ul.environments {
            padding-left: 5%;
            font-size: 140%;
            color: #aaa;
        }

        #online_status ul.environments li.leader {
            color:transparent;
        }

        #release_info {
            width: 100%;
            clear: both;
            padding-bottom: 20px;
        }

        #call_stats {
            /* hide graph by default. Only show graphing in desktop */
            display: none;
        }

        @media only screen and (min-width: 1080px) and (-webkit-min-device-pixel-ratio: 2){
            /* ipad three stuff. needs touch controls, but high resolution */
        }

        @media only screen and (min-width: 800px) and (max-width: 15080px){
            /* for everything up to a 1080p display in landscape mode */
            #build_status { float: left; width: 100%; clear:none;}
            #bamboo_status { float: left; width: 100%; clear:none;}
            #online_status ul {float: left; width: 9%; font-size: 180%;}
            #online_status ul.environments {padding-left: 2%; font-size: 180%;}

            #next_release { float: none; clear: right; width: 100%;}
            #release_information { float: left; width: 49%;}
            #deadlines {float: left; width: 49%;}
            #call_stats {
                display: block;
                background-color: #333;
                color: #fff;
                margin: 15px 10px;
                clear: both;
                overflow: hidden;
                }

                #online_status  div.error,
                #call_stats.error {
                padding: 20px;
                text-align: center;
                }

            /*
                The CSS below will break the components lists into one "environment" and 8 "channels" per line.
                Please don't edit the expressions in the nth-child selectors unless you know how they work.
                Each selector is commented so you can tell what is being targeted.
                */
                #online_status ul {position: relative; overflow:visible; width: 100%;}
                #online_status ul.environments li { position: relative; overflow: visible; outline: 1px solid red; float: left; clear: none;}
                #online_status ul li { position: relative; overflow: visible; outline: 1px solid red; float: left; clear: none;}
                #online_status ul li { position: relative; overflow: visible; outline: 1px solid yellow;}
                #online_status ul { clear: both;}

                table.environmentsTable {
                    border-collapse: collapse;
                    margin-bottom: 10px;
                }
                table.environmentsTable thead td.leader  {
                    color: transparent;
                }

                table.environmentsTable tfoot td {
                    height: 15px;
                }
                table.environmentsTable td {
                    margin: 0;
                    font-size: 150%;
                    overflow:hidden;
                    padding-left: 5px;
                    width: 110px;
                }
                table.environmentsTable td.leader { width: 120px;}

                table.environmentsTable td.non_core { color: #aaa;}
                div.rotate_navigation {text-align: center;}
                div.rotate_navigation span.environment_rotate { letter-spacing: 1em; color: #aaa; font-weight: normal; font-size: 150%; text-align: center;}
                div.rotate_navigation span.environment_rotate.active { color: #fff; font-weight: bold;}


                .no_version {
                    /* de-emphasize information for compenents not installed in certain channels */
                    color: #666;
                }

                .rotateGroup {display:none;}
                .rotateGroup.active { display: table-cell;}
        }

        @media only screen and (min-width: 480px) and (max-width: 799px) { /* almost all current tablets sit between 600px and 800px wide */
            #deadlines dt.heading, #deadlines dd.heading  {display: none;}
            #build_status { float: left; width: 49%; clear:none;}
        }

        @media only screen and (max-width: 479px) {
            #deadlines dt.heading, #deadlines dd.heading  {display: none;}
            #next_release { width: auto; float: none; clear:both;}
        } /* end "@media only screen and (max-width: 480px)" */
     </style>
     <link rel="canonical" href="/">
 </head>
 <body>
     <header class="inactive">
        Please note: the release scheduled for this weekend has been postponed due to a breaking news story. Please see Steve Parr or Jason Brock for more information.
    </header>
    <div id="release_info">

        <div id="next_release">
            <div id="release_information">
                <div id="release_name" class="round-corners"></div>
                <div id="countdown_days" class="round-corners"></div>
            </div>
            <div id="deadlines">
                <div id="code_deadlines" class="inset round-corners">
                    <dl class="round-corners" id="svn_build_deadline" >
                        <dt class="heading description one">Description</dt>
                        <dd class="heading value one">Deadline</dd>
                        <dt id="svn_build_deadline_label">SVN (Final Commit)</dt>
                        <dd id="svn_build_deadline_time"></dd>
                    </dl>
                    <div  class="clear"></div>
                </div> <!-- //svn_build_deadline -->

                <div id="prod_release_deadline" class="inset round-corners">
                    <dl class="round-corners" id="prod_release_deadline">
                        <dt class="heading description two">Description</dt>
                        <dd class="heading value two">Deadline</dd>
                        <dt id="prod_release_deadline_label">PROD (Release)</dt>
                        <dd id="prod_release_deadline_time"></dd>
                    </dl>
                </div> <!-- //prod_release_deadline -->
            </div> <!-- //#deadlines -->
        <div class="clear"></div>
        </div>
        <div id="build_status">
            <div id="online_status">
                <div id="online_status_inner" class="round-corners">
                    <div id="online_status_header" class='clear'>
                    </div>
                    <div id="online_status_footer" class='clear'>
                    </div> <!-- //#online_status_footer -->
                </div> <!-- //#online_status_inner -->
            </div> <!-- //#online_status -->
        </div> <!-- //#build_status -->

        <div  class="clear"></div>

        <div id="call_stats" class="round-corners">
        </div> <!-- //#call_stats -->

        <div  class="clear"></div>
    </div>
    <footer>
    </footer>
</body>
</html>
