header.inactive { display: block;}

#build_status { float: left; width: 100%; clear:none;}
            #bamboo_status { float: left; width: 100%; clear:none;}
            #online_status ul {float: left; width: 9%; font-size: 180%;}
            #online_status ul.environments {padding-left: 2%; font-size: 180%;}

            #next_release { float: none; clear: right; width: 100%;}
            #release_information { width: 100%;}
            #deadlines {float: left; width: 49%;}
            #call_stats {
                display: block;
                background-color: #333; 
                color: #fff; 
                margin: 15px 10px; 
                clear: both; 
                overflow: hidden;
                }

                #call_stats.error {
                padding: 20px;
                text-align: center;
                }

            /* 
                The CSS below will break the components lists into one "environment" and 8 "channels" per line.
                Please don't edit the expressions in the nth-child selectors unless you know how they work.
                Each selector is commented so you can tell what is being targeted.            
                */
                #online_status ul {position: relative; overflow:visible; width: 100%;}
                #online_status ul.environments li { position: relative; overflow: visible; outline: 1px solid red; float: left; clear: none;}
                #online_status ul li { position: relative; overflow: visible; outline: 1px solid red; float: left; clear: none;}
                #online_status ul li { position: relative; overflow: visible; outline: 1px solid yellow;}
                #online_status ul { clear: both;}

                table.environmentsTable {
                    border-collapse: collapse;
                    margin-bottom: 10px;
                }
                table.environmentsTable thead td.leader  {
                    color: transparent;
                }

                table.environmentsTable tfoot td {
                    height: 15px;
                }
                table.environmentsTable td {
                    margin: 0;
                    font-size: 150%;
                    overflow:hidden;
                    padding-left: 5px;
                    width: 110px;
                }
                table.environmentsTable td.leader { width: 120px;}

                table.environmentsTable td.non_core { color: #aaa;}
                

                .no_version {
                    /* de-emphasize information for compenents not installed in certain channels */
                    color: #666;
                } 

                .rotateGroup {display:none;}

                .rotateGroup.active { display: table-cell;}

/*                .rotateGroup0 { color: red;}
                .rotateGroup1 { color: yellow;}
                .rotateGroup2 { color: darkorange;}
                .rotateGroup3 { color: blue;} */

